button {
    padding: 40px;
    margin: 40px;
    color:aliceblue;
    font-size:large;
}

#B1 {
    background-color: black;
    
    
}
#B2 {
    background-color: red
    
}
#B3 {
    background-color: blue
    
}
#B4 {
    background-color:yellow
    
}#B5 {
    background-color: green
    
}
