p {
    color: red;
}

#Button2 {
    color:rgb(194, 14, 125);
    background-color:rgb(22, 21, 18);
    border-radius:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    font-weight:bolder;
    border-color: rgb(8, 8, 10);
    border-width: 3px;
    

}
 



